%body

  %nav.navbar.navbar-transparent.navbar-absolute
    .container
      .collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-right
          %li
            = link_to "Login Here", new_user_session_path, class: "btn"
  .wrapper.wrapper-full-page
    .register-page
      / you can change the color of the filter page using: data-color="blue | azure | green | orange | red | purple"
      .content
        .container
          .row
            .col-md-8.col-md-offset-2
              .header-text
                %h2 Catanduanes Twin Rock
                %h4 Reservation / Booking Application
                %hr/
                - if devise_error_messages! != nil
                  .alert.alert-warning
                    %span
                      %b= devise_error_messages!
            .col-md-4.col-md-offset-2
              .information
                .media
                  .media-left
                    .icon.icon-danger
                      %i.ti.ti-user
                  .media-body
                    %h5 Account Registration
                    Here you can register your account to use have access and use all the modules of the Reservation /Booking Application
                .media
                  .media-left
                    .icon.icon-warning
                      %i.ti-bar-chart-alt
                  .media-body
                    %h5 Awesome Performances
                    Fill out the fields and proceed by click the the Create Account Button
            .col-md-4
              .card.card-plain
                .content
                = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
                  .form-group
                    = f.email_field :email, autofocus: true, class: "form-control", placeholder: "Enter Email"
                  .form-group
                    = f.text_field :fullname, class: "form-control", placeholder: "Enter Full Name"
                  .form-group
                    = f.password_field :password, class: "form-control", placeholder: "Enter Password (6 characters minimum)"
                  .form-group
                    = f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm Password"
                  .actions.footer.text-center
                    = f.submit "Create Account", class: "btn btn-fill btn-danger btn-wd"
      %footer.footer.footer-transparent
        .container
          .copyright.text-center
            :javascript
              document.write(new Date().getFullYear())
            , made with
            %i.fa.fa-heart.heart
            by
            = link_to "Cloudipark", "http://www.cloudipark.com"
