$red:  #EB5E28;
$available: #f4f3ef;
$unavailable: #B9F6CA;
$hovering: #b2d3ff;
$border: #66615B;
table.reservation{
	width: 100%;
	border-collapse: collapse;
	td, th{
		border: 1px solid $border;
		text-align: center;
		min-width: 25px;
		max-width: 25px;
		min-height: 40px;
		max-height: 40px;
		padding: 10px;
	}

	th.propertyHeader{ 
		max-width: 110px;
		min-width: 110px;
	}
	
	td.available{ 
		// background-color: $available;
	}
	td.unavailable{ 
		// background-color: $unavailable;
		// pointer-events: none;
	}
	td.available:hover{ 
		background-color: $hovering;
		cursor: pointer;
	}
	td.unavailable:hover{ 
		cursor: not-allowed;
	}
  td.no-right-border{ 
    border-right-style: hidden;
  }
}


