- @title = "Bookings by Events"
- @subtitle = ""
- provide :title, @title
- content_for :pageplugin do
  -# = javascript_include_tag 'pageplugin/bookings/index'
  = stylesheet_link_tag 'pageplugin/bookings/index', media: 'all'
= render 'layouts/header'
= react_component('ReservationApp',{ |
  	sources: @sources,                |
  	transportation: @transportation,  |
  	discount: @discount,              |
  	property: @property,              |
  	rental_service: @rental_service,  |
    property_type: "events" |
  })                                 |
= render 'layouts/footer'
