.sheet
{
	font-family: "calibri";
}

h3
{
	margin: 5px;
	font-weight: 100;
	font-size: 14px;
	text-align: center;

}

.footertable td > h4
{
    margin-bottom: 0;
	font-weight: 600;
	font-size: 14px;	
}



.title 
{
	text-align: center;
	font-weight: 600;
}

.subtitle
{
	margin: 5px;
	font-weight: 100;
	font-size: 14px;
	text-align: center;

}
.headertable
{
	width: 100%;
}

.headertable td
{
	width: 33%;
	text-align: left;
} 
.headertable td > h4
{
	margin-bottom: 0;
	font-weight: 600;
	font-size: 14px;
}

.datatable
{
	width: 100%;
	margin-top: 10px;

}

.datatable td
{
	border-style: solid;
	border-width: 1px;
	padding: 3px;
}
.datatable h4
{
	margin: 0;
	font-weight: 100;
	font-size: 14px;
	text-align: center;
}

.tablebody td
{
		max-width: 200px;
}



.footertable
{
	width: 100%;
	margin-top:50px;
}
.footertable h4
{
	margin: 0;
	font-weight: 100;
	font-size: 14px;
	text-align: center;
}

.footertable td
{
	width: 30%;
}




