/* line 6, /home/moses/workspace/ocsc-reservation/lib/assets/stylesheets/pageplugin/bookings/index.scss */
table.reservation {
  width: 100%;
  border-collapse: collapse;
}
/* line 9, /home/moses/workspace/ocsc-reservation/lib/assets/stylesheets/pageplugin/bookings/index.scss */
table.reservation td, table.reservation th {
  border: 1px solid #66615B;
  text-align: center;
  min-width: 25px;
  max-width: 25px;
  min-height: 40px;
  max-height: 40px;
  padding: 10px;
}
/* line 19, /home/moses/workspace/ocsc-reservation/lib/assets/stylesheets/pageplugin/bookings/index.scss */
table.reservation th.propertyHeader {
  max-width: 110px;
  min-width: 110px;
}
/* line 31, /home/moses/workspace/ocsc-reservation/lib/assets/stylesheets/pageplugin/bookings/index.scss */
table.reservation td.available:hover {
  background-color: #b2d3ff;
  cursor: pointer;
}
/* line 35, /home/moses/workspace/ocsc-reservation/lib/assets/stylesheets/pageplugin/bookings/index.scss */
table.reservation td.unavailable:hover {
  cursor: not-allowed;
}
/* line 38, /home/moses/workspace/ocsc-reservation/lib/assets/stylesheets/pageplugin/bookings/index.scss */
table.reservation td.no-right-border {
  border-right-style: hidden;
}
