- @title = "New Reservation"
- @subtitle = "New"
- provide :title, @title
= render 'layouts/header'
.card
  .card-header
    = react_component("NewReservation", { |
        sources: @sources,                |
        transportation: @transportation,  |
        discount: @discount,              |
        property: @property,              |
        rental_service: @rental_service,  |
      clients: @client,                   |
      reserve: @reserve                   |
      })                                  |
= render 'layouts/footer'
