- content_for :pageplugin do
  = stylesheet_link_tag 'pageplugin/reservations/main', media: 'all'
  = stylesheet_link_tag 'pageplugin/reservations/normalize', media: 'all'
  = stylesheet_link_tag 'pageplugin/reservations/paper', media: 'all'

%body.A4
  / Each sheet element should have the class "sheet"
  / "padding-**mm" is optional: you can set 10, 15, 20 or 25
  %section.sheet.padding-10mm
    / Write HTML just like a web page
    %table.headertable
      %tr
        %td
          = image_tag "tw-logo.png"
        %td
          %h4{:style => "text-align: center;"} Booking Confirmation Voucher
        %td
          %h4{:style => "text-align: right;"}= Date.today()
      %tr
        %td
          %h4= "Booking ID: #{@record.id}"
        %td
        %td
    %table.datatable
      %tr
        %td
          %h4 Property Name
        %td
          %h4= @record.property_name
      / Start Writing Data on Second column
      %tr.tablebody
        %td
          %h4 Guest's Name
        %td
          %h4= @record.name
      %tr.tablebody
        %td
          %h4 Check-in Date
        %td
          %h4= dmY @record.checkin
      %tr.tablebody
        %td
          %h4 Check-out Date
        %td
          %h4= dmY @record.checkout
      %tr.tablebody
        %td
          %h4 Rate:
        %td
          %h4= peso (@record.d_rate == nil ? 0 : @record.p_rate / @record.nights)
      %tr.tablebody
        %td
          %h4 Number of Nights Staying:
        %td
          %h4= @record.nights
      %tr.tablebody
        %td
          %h4 Subtotal:
        %td
          %h4= peso @record.p_rate
      %tr.tablebody
        %td
          %h4 Transporation Charge:
        %td
          %h4= peso @record.t_rate
      %tr.tablebody
        %td
          %h4 Rental and Services Charge:
        %td
          %h4= peso @record.rs_rate
      %tr.tablebody
        %td
          %h4 Discounts and Promos:
        %td
          %h4= "(LESS:  #{peso @record.d_rate})"
      %tr.tablebody
        %td
          %h4 Total:
        %td
          %h4= peso @record.total
      %tr.tablebody
        %td
          %h4 Paid Amount:
        %td
          %h4= peso @record.payment
      / Enter total Values
      %tr.tablebody
        %td{:style => "padding: 10px"}
          %h4{:style => "font-weight: 600"} Total
        %td
          %h4{:style => "font-weight: 600"}= peso @record.balance
    %table.footertable
      %h3{:style => "margin-bottom: 0; text-align: center;"} =====================================================================================
      %h3{:style => "margin: 0;"} End of Voucher
      %h3{:style => "margin-bottom: 0; text-align: center;"} =====================================================================================

:javascript
  window.print()
