%body
  %nav.navbar.navbar-transparent.navbar-absolute
    .container
      .navbar-header
        = link_to "Catanduanes Twin Rock", root_path, class: "navbar-brand"
      .collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-right
          %li
            -# %a{:href => "register.html"} Register
  .wrapper.wrapper-full-page
    .full-page.login-page{"data-color" => "", "data-image" => "background.jpg"}
      / you can change the color of the filter page using: data-color="blue | azure | green | orange | red | purple"
      .content
        .container
          - if notice
            .row
              .col-md-4.col-sm-6.col-md-offset-4.col-sm-offset-3
                .alert.alert-info
                  %span
                    %b= notice
          - if alert
            .row
              .col-md-4.col-sm-6.col-md-offset-4.col-sm-offset-3
                .alert.alert-danger
                  %span
                    %b= alert
          .row
            .col-md-4.col-sm-6.col-md-offset-4.col-sm-offset-3.card
              = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
                %div{"data-background" => "color", "data-color" => "blue"}
                  .header
                    %h3.title Login
                  %div
                    .form-group
                      = f.label :email
                      = f.email_field :email, autofocus: true, class: "form-control", placeholder: "Input Email"
                    .form-group
                      = f.label :password
                      = f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Input Password"

                .footer.text-center
                  .actions
                    = f.submit "Log in", class: "btn btn-fill btn-wd"
                    .forgot
                      -# = link_to "Forgot your password?", root_path
