
  </div>
  </div>

  <footer class="footer">
    <div class="container-fluid">
      <nav class="pull-left">
        <ul>
          <li><a> Catanduanes Twin Rock Beach Resort</a>
          </li>
        </ul>
      </nav>
		<div class="copyright pull-right">
      &copy; 2017, made with <i class="fa fa-heart heart"></i> by <a href="http://www.cloudipark.com">Cloudipark</a>
    </div>
    </div>
  </footer>
	    </div>
	</div>
</body>
