<body class="sidebar-mini">

	<div class="wrapper">
		<%= render 'layouts/sidebar' %>

		<div class="main-panel">
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-minimize">
						<button id="minimizeSidebar" class="btn btn-fill btn-icon">
							<i class="ti-more-alt"></i>
						</button>
					</div>
					<div class="navbar-header">
						<button type="button" class="navbar-toggle">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar bar1"></span>
							<span class="icon-bar bar2"></span>
							<span class="icon-bar bar3"></span>
						</button>
						<a class="navbar-brand"><%= @title %></a>
					</div>
					<div class="collapse navbar-collapse">
						<ul class="nav navbar-nav navbar-right">
							<li>
								<%= link_to "<i class='ti-shift-right'></i> Log-Out".html_safe,
								destroy_user_session_path,
								method: :DELETE,
								data:{ confirm: "Are You Sure?"} %>
							</li>
							<!-- <li>
								<a href="#settings" class="btn-rotate">
									<i class="ti-settings"></i>
									<p class="hidden-md hidden-lg">
										Settings
									</p>
								</a>
							</li> -->
						</ul>
					</div>
				</div>
			</nav>

			<div class="content">
				<div class="container-fluid">
