.sidebar{"data-active-color": "danger", "data-background-color": "brown"}
  .logo
    %a.simple-text.logo-mini CTW
    %a.simple-text.logo-normal Twin Rock 
  .sidebar-wrapper
    %ul.nav
      %li#menu_rooms
        = link_to "/bookings" do
          %i.ti-calendar
          %p Rooms
      %li#menu_cottages
        = link_to "/bookings/cottages" do
          %i.ti-calendar
          %p Cottages

      %li#menu_events
        = link_to "/bookings/events" do
          %i.ti-calendar
          %p Events
      %li#menu_reservations
        = link_to "/reservations" do
          %i.ti-bookmark
          %p Reservations
      -# %li#menu_reservations_new
      -#   = link_to "/reservations/new" do
      -#     %i.ti-plus
      -#     %p New Reservation
      %li#menu_properties
        = link_to "/properties" do
          %i.ti-agenda
          %p Properties
      %li#menu_clients
        = link_to "/clients" do
          %i.ti-user
          %p Clients / Guests
      %li#menu_transportations
        = link_to "/transportations" do
          %i.ti-truck
          %p Transportations
      %li#menu_sources
        = link_to "/sources" do
          %i.ti-layout-list-thumb
          %p Sources
      %li#menu_discounts
        = link_to "/discounts" do
          %i.ti-arrow-circle-down
          %p Discounts
