<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'favicon.png' %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Reservation App" name="Catanduanes Twin Rock Beach Resort" />
    <meta content="" name="Ocean Coast Shipping Corporation" />
    <%# debug(params) if Rails.env.development? %>
  </head>


  <%= yield %>

  <%= yield :pageplugin %>


</html>
